
anyio==3.7.1
async-timeout==4.0.3
discord.py==2.3.2
Flask==3.0.1
py-cord==2.4.1
python-dotenv==1.0.0
pytorch3d @ git+https://github.com/facebookresearch/pytorch3d.git@297020a4b1d7492190cb4a909cafbd2c81a12cb5
